{% extends 'base.html.twig' %}

{% block title %}Edit Mariage
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:150px">

		<h1>Edit Mariage</h1>

		{{ include('mariage/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('mariage_index') }}">back to list</a>

		{{ include('mariage/_delete_form.html.twig') }}
	</div>
{% endblock %}
