{% extends 'base.html.twig' %}

{% block title %}Edit PublicUser
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:150px">
		<h1>Edit Person</h1>

		{{ include('public_user/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('public_user_index') }}">back to list</a>

		{{ include('public_user/_delete_form.html.twig') }}
	</div>
{% endblock %}
