{% extends 'base.html.twig' %}

{% block title %}Edit Birth{% endblock %}

{% block body %}
    <h1>Edit Birth</h1>

    {{ include('birth/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('birth_index') }}">back to list</a>

    {{ include('birth/_delete_form.html.twig') }}
{% endblock %}
