{% extends 'base.html.twig' %}

{% block title %}New ParentUser
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:150px">
		<div class="row d-flex flex-column">
			<h1>Create new Parent</h1>

			{{ include('parent_user/_form.html.twig') }}


		</div>
		<div class="row mb-5 mt-5">
			<a class="btn btn-danger" href="{{ path('parent_user_index') }}">back to list parent</a>
			<a class="btn btn-success" href="{{ path('public_user_new') }}">Add new Person Info</a>
		</div>
	</div>
{% endblock %}
