{% extends 'base.html.twig' %}

{% block title %}New ParentUser{% endblock %}

{% block body %}
    <h1>Create new ParentUser</h1>

    {{ include('parent_user/_form.html.twig') }}

    <a href="{{ path('parent_user_index') }}">back to list</a>
{% endblock %}
