{% extends 'base.html.twig' %}

{% block title %}New OfficeLocation
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:150px">
		<h1>Create new Office Location</h1>

		{{ include('office_location/_form.html.twig') }}

		<a href="{{ path('office_location_index') }}">back to list</a>
	</div>
{% endblock %}
